.articles-container {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 2em;
  }

  .homepage-title {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    background-color: blueviolet;
  }

  .sort-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .sort-controls label {
    margin: 0 10px;
    font-size: 1em;
  }