
.articles-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 2em;
  }

.h1 {
    text-align: center;
    font-size: large;
    font-weight: bold
}